//@font-face {
//  font-family: 'Cartograph CF';
//  src: url('../../fonts/CartographCF-Thin.ttf') format('truetype');
//  font-weight: 100;
//}

:root {
  --f-sans-serif: #{$font-sans-serif};
  --f-sans-serif-xx: #{$font-sans-serif-xx};

  --c-white: white;
  --c-black: black;
  --c-white-1: #{$c-white-1};

  --g-primary: #{$gutter-sm};

  @include media-breakpoint-up(md) {
    --g-primary: #{$gutter-md};
  }

  @include media-breakpoint-up(xl) {
    --g-primary: #{$gutter};
  }
}

html,
body {
  font-family: var(--f-sans-serif);
}

html {
  font-size: $font-size-root;
}

body {
  font-family: 'Cartograph CF', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: rem(16px);
  scroll-behavior: smooth;
  margin: 0;
  background-image: linear-gradient(transparent 11px, $gray 12px, transparent 12px), linear-gradient(90deg, transparent 11px, $gray 12px, transparent 12px);
  background-size: 100% 30px, 30px 100% !important;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: var(--f-sans-serif);
}

h1, .h1 {
  font-size: rem(36px);

  @include media-breakpoint-up(md) {
    font-size: rem(42px);
  }
}

h2, .h2 {
  font-size: rem(36px);

  @include media-breakpoint-up(md) {
    font-size: rem(42px);
  }
}

h3, .h3 {
  font-size: rem(32px);
}

h4, .h4 {
  font-size: rem(24px);
}

h5, .h5 {
  font-size: rem(22px);
}

h6, .h6 {
  font-size: rem(20px);
}

p {
  font-family: 'Cartograph CF', sans-serif;
  margin-bottom: 15px;

  @include media-breakpoint-up(xl) {
    margin-bottom: 25px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
  }
}

textarea,
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="search"],
input[type="phone"],
input[type="date"],
input[type="text"],
input[type="email"] {
  @include clear-outline();
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.section {
  padding: 45px 0;

  @include media-breakpoint-up(lg) {
    padding: 90px 0;
  }

  &.section-sm {
    @include media-breakpoint-up(lg) {
      padding: 45px 0;
    }
  }

  &.section-md {
    @include media-breakpoint-up(lg) {
      padding: 75px 0;
    }
  }

  &.section-lg {
    @include media-breakpoint-up(lg) {
      padding: 135px 0;
    }
  }
}

.container {
  width: unset !important;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);

  @include media-breakpoint-up(md) {
    width: 100%;
  }

  @include media-breakpoint-up(xl) {
    width: 1310px;
    max-width: 1400px;
  }

  &-fluid {
    &--alt {
      @include media-breakpoint-up(md) {
        padding-right: calc(var(--bs-gutter-x, 0.75rem) * 2);
        padding-left: calc(var(--bs-gutter-x, 0.75rem) * 2);
      }
    }
  }
}
